HELP.md

.gradle
build/

!gradle/wrapper/gradle-wrapper.jar

### IntelliJ ###
.idea/
*.iml
*.ipr
*.iws

out/

### VSCode ###
.vscode/

### Mac ###
.DS_Store

### Log ###
*.log

### Local ###
.env
application-local.yml
application-prod.yml
